<div class="menu">
    <div class="logo">
        <img src="/static/images/logo.png" alt="logo" width="40" height="40"> <h6>Python Lab</h6>
    </div>
  <div class="clean"></div>

    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            {% if user.username %}
                <li><a href="/admin/">{{ user.username }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="nav search">
        <form action="/articles/search/" method="post">
            {% csrf_token %}
            <input type="text" name="search_text">
            <input type="submit" value="Search">
        </form>
    </div><div class="clean"></div>
</div><div class="clean"></div>